include layout.jade
link(rel='stylesheet', href='/stylesheets/login.css')
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
nav.navbar.navbar-default.navColor
    .container-fluid
        .navbar-header
            a.navbar-brand.navFont(href='') IIT CONNECT
.container
    .row
        .col-sm-12.col-md-6.desc
            | An online chat application where you can get in touch with family,friends and share messages instantly..........
            i.glyphicon.glyphicon-envelope
            |  please enter username and start.
        .col-sm-12.col-md-6
            h1.text-center.login-title Sign in to IIT CONNECT
            .account-wall
                img.profile-img(src='https://s-media-cache-ak0.pinimg.com/236x/4c/d0/2b/4cd02b903d85c88585873518a3ab67e8.jpg', alt='')
                form(class="form-signin" name="login" action="/" method="POST")
                    input(class="form-control" type='text', placeholder='Username', name="user" required)
                    br
                    input(class="btn btn-lg btn-primary btn-block" type="submit" value="submit")
                    script(type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js")