link(rel='stylesheet', href='/stylesheets/login.css')
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
nav.navbar.navbar-default.navColor
    .container-fluid
        .navbar-header
            a.navbar-brand.navFont(href="") IIT CONNECT
.container
    .row
        .col-sm-6.col-md-6.desc
            | Thank you for using IIT Connect to rejoin chat room...
            a(href='#' onclick='launchHome();')
                | click here
                i.glyphicon.glyphicon-comment
    script.
        var launchHome = function(){
        window.location.assign(window.location.origin);
        }

