doctype html
html
    head
        title Socket.IO chat
        link(href='/stylesheets/savio_style.css', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/stylesheets/login.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    body
nav.navbar.navbar-default.navColor
    .container-fluid
        .navbar-header
            a.navbar-brand.navFont(href='http://localhost:3001') TEEN CONNECT
.container
    .row
        .col-sm-6.col-md-6.desc
            ul#messages
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='http://code.jquery.com/jquery-1.11.1.js')
    script.
        var username = !{JSON.stringify(username)};
        console.log(username.length);
        var b = $("<table border='1'><thead><tr><th>Connected Users:</th></tr></thead>")
        $('#messages').append(b);
        for (var i = 0; i < username.length; i++) {
            var a = $("<tr><td>" + username[i].userlist + "</td></tr>")
            $('#messages').append(a);
        }