.table-fixed thead {
    width: 97%;
}
.table-fixed tbody {
    height: 430px;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
}
.navColor{
    background: linear-gradient(90deg,#559e73 0,#609492);
}
.navFont{
    color:white !important;
}
.tablestyle{
    width:50% !important;
}